h1{
    color: red;
    transform: translate3d(20px);
    background: linear-gradient(to bottom, white, black);
    display: flex;
    appearance: none;
    font-size: 14px;
    background-image: url(/assets/img/sample.jpg);
}
